<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Moto-water</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/admin_order.css">
    <script src="/jquery/jquery.js"></script>
    <script type="text/javascript" src="/javascripts/admin_order.js"></script>
</head>

<body>
    <div class="wrap">
        <%- include('elements/header'); -%>
        <%- include('elements/nav'); -%>
        <div class="wrap-main">
            <div class="main">
                <div id="shopping-cart" class="shopping-cart">
                    <!-- Title -->
                    <div class="title" id="title" style="margin-left: 80px;">
                        Заказы
                    </div>
                    <% list.forEach(function(item){ %>
                    <div class="order">
                        <ul>
                            <li>
                                <p> Номер закзаза </p>
                                <div class="val">
                                    <%=item.o1id%>
                                </div>
                            </li>
                            <li>
                                <p> Цена заказа </p>
                                <div class="val">
                                    <%=item.o1pice%>
                                </div>
                            </li>
                            <li>
                                <p> Способ оплати </p>
                                <div class="val">
                                    <%=item.o1payment%>
                                </div>
                            </li>
                            <li>
                                <p> Коментарий к заказу </p>
                                <div class="val">
                                    <%=item.o1comments%>
                                </div>
                            </li>
                            <li>
                                <p> Статус заказа </p>
                                <div class="val">
                                    <%=item.o1status%>
                                </div>
                            </li>
                            <li>
                                <p> Даные заказчика </p>
                                <div class="val">
                                    <%=item.csurname%>
                                </div>
                            </li>
                            <li>
                                <p> Телефон заказчика </p>
                                <div class="val">
                                    <%=item.cphone%>
                                </div>
                            </li>
                            <li>
                                <p> Местоположение заказчика </p>
                                <div class="val">
                                    <%=item.cgeozone%>
                                </div>
                            </li>
                            <li>
                                <p> Скидочный промокод </p>
                                <div class="val">
                                    <%=item.csale%>
                                </div>
                            </li>
                        </ul>
                        <button class="showModel" value="<%=item.o1id%>" style=" Cursor:pointer; border-color: red;">Заказаный товар</button>
                        <table>
                            <thead>
                                <tr>
                                    <td> Номер </td>
                                    <td>Название</td>
                                    <td>Доступность</td>
                                    <td>Цена</td>
                                    <td>Kоличество</td>
                                </tr>
                            </thead>
                            <tbody id="cart<%=item.o1id%>">
                            </tbody>
                        </table>
                        <button id="done<%=item.o1id%>" class="done" value="<%=item.o1id%>" style="width: 100px; height: 50px; border-radius: 6px;">Виполнено</button>
                    </div>
                    <% }); %>
                </div>
            </div>
        </div>
        <%- include('elements/footer'); -%>
</body>

</html>