<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Moto-water</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/admin_add_model.css">
    <script>
        function buttonClickSub(but) {
	    var x = document.getElementsByClassName("hid-sub");
	    if (but == "on") {
			x[0].style.display = "block";
		}
		else {
             x[0].style.display = "none";
             document.location.href="/admin/add/model";
		}
    }
	</script>
</head>

<body>
    <div class="hid-sub" onclick=" buttonClickSub('off')">
        <div class="sub">
            Товар добавлен
        </div>
    </div>
    <%- include('elements/header'); -%>
    <%- include('elements/nav'); -%>
    <main>
        <form method="post" action="/admin/add/" class="formAdd">
            <div>
                <p>Название мотора </p>
                <input type="text" name="name">
            </div>
            <div>
                <p>Описание мотора</p>
                <input type="text" name="description">
            </div>
            <div>
                <p>Tактовая частота</p>
                <p><select name="storke">
                        <option value="2">2-x</option>
                        <option value="4">4-x</option>
                    </select></p>
            </div>
            <div>
                <p>Укажыте путь к картинке</p>
                <label><input type="text" name="picture" value="<%= typeof file != 'undefined' ? file : '' %>"><a href="/admin/add/model/picture">Загрузить</a></label>
            </div>
            <img src="<%= typeof file != 'undefined' ? file : '' %>" alt="" height="200px" width="200px">
            <div>
                <p>Цена мотора</p>
                <input type="text" name="price">
            </div>
            <div>
                <p>Запуск мотора</p>
                <p><select name="start">
                        <option value="r"> ручной</option>
                        <option value="e"> електро</option>
                        <option value="er"> ручной + електро</option>
                    </select></p>
            </div>
            <div>
                <p>Управление мотором</p>
                <p><select name="control">
                        <option value="r"> румпель</option>
                        <option value="d"> дистанционое</option>
                        <option value="rd"> румпель+дистанционое</option>
                    </select></p>
            </div>
            <div>
                <p>Бренд мотора</p>
                <p><select name="brand">
                        <option value="1"> Yamaha</option>
                        <option value="2"> Suzuki</option>
                        <option value="3"> Mercuri</option>
                        <option value="4"> Tohatsu</option>
                        <option value="5"> Parsun</option>
                    </select></p>
            </div>
            <div>
                <p>Мощность мотора</p>
                <input type="text" name="power">
            </div>
            <div>
                <p>Обьем мотора</p>
                <input type="text" name="volume">
            </div>
            <div>
                <p>Масса мотора</p>
                <input type="text" name="mass">
            </div>
            <label><input type="submit" value="Подтвердить" onclick=" buttonClickSub('on')"></label>
        </form>
    </main>
    <%- include('elements/footer'); -%>
</body>